[client]
default-character-set = utf8mb4

[mysqld]
character-set-server=utf8mb4
skip-character-set-client-handshake
default-storage-engine=INNODB
default-time-zone='Asia/Tokyo'
max_connections = 10000
innodb_buffer_pool_size=6G
innodb_log_file_size=1G

[mysqldump]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
